
{{> header}}

<div class="container">

	{{#if envelopes}}

		<br />

		<h3>
			Submissions Status
		</h3>

	    <p class="h3-hint">
	      Only available in your current session. (<a href="/restart-session">restart session</a>)
	    </p>

		<table class="table table-minimal">
			<thead>
				<th>
					Subject
				</th>
				<th>
					Applicant
				</th>
				<th>
					Last Updated
				</th>
				<th>
					
				</th>
			</thead>
			<tbody>
				{{#each envelopes}}
					<tr>
						<td>
							{{data.emailSubject}}
						</td>
						<td>
							{{recipients.signers.[0].name}}
							{{#ifCond recipients.signers.length ">" 1}}
								&amp; {{recipients.signers.[1].name}}
							{{/ifCond}}
						</td>
						<td>
							{{moment lastUpdate fromNow=null}}
						</td>
						<td>
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Options
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							  	{{#each documents}}
							    	<li><a href="/envelopes/{{../data.envelopeId}}/download/{{documentId}}" target="_blank">Download {{name}}</a></li>
							  	{{/each}}
							  	<li role="separator" class="divider"></li>
							    <li><a href="/envelopes/{{envelopeId}}/download/combined" target="_blank">Download Combined</a></li>
							  </ul>
							</div>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	{{else}}

		<div class="text-center">

			<br />

			<h3>
				Create some loan transactions and they will start showing up here...
			</h3>

			<br />


		</div>

	{{/if}}

	{{> footer}}
</div>