
{{> header}}

<div class="container">

  <div id="error-why"></div>

  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">

      <h2 class="text-center">
        Sailboat Loan
      </h2>

      <hr />


      <form id="mainForm1" data-toggle="validator" method="POST" action="/loan/sailboat">

        <div class="form-group">
          <label for="inputFirstName">First Name</label>
          <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="Edgar" required>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="inputLastName">Last Name</label>
          <input type="text" class="form-control" id="inputLastName" name="inputLastName" placeholder="Holmes" required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label for="inputEmail">Email Address</label>
          <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="" required value="{{default_email}}">
          <div class="help-block with-errors"></div>
        </div>

        <p>
          <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">
            <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="true"></i> Advanced
          </span>
        </p>
        <div class="collapse" id="collapseAdvanced">

          <div class="form-group">
            <label for="input">Signing Location</label>
            <select class="form-control" name="inputSigningLocation">
              {{#each signing_location_options}}
                <option value="{{this}}" {{#ifCond this "==" ../config.signing_location}}selected{{/ifCond}}>
                  {{this}}
                </option>
              {{/each}}
            </select>

            <span class="help-block">
              Embed the signing experience, or send an email (remote)
            </span>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="access_code">Access Code</label>
            <input type="text" class="form-control" id="access_code" name="inputAccessCode" placeholder="" value="{{config.access_code}}" />
            <span class="help-block">
              Set an Access Code for this customer to enter before signing documents
            </span>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="authentication">Additional Authentication</label>
            <select class="form-control" name="inputAuthentication" disabled>
              {{#each authentication_options}}
                <option value="{{this}}" {{#ifCond this "==" ../config.authentication}}selected{{/ifCond}}>
                  {{this}}
                </option>
              {{/each}}
            </select>
            <span class="help-block">
              Enable Phone Authentication to receive a verification phone call before signing documents (<a href="https://support.docusign.com/guides/ndse-user-guide-how-phone-authentication-works" target="_blank">Learn More</a>)
              <br />
              * This can be enabled when using your own account
            </span>
          </div>
        </div>


        <hr />

        <div class="appraiser">
          <h4>
            Internal Appraiser Information
          </h4>
          <div class="form-group">
            <label for="inputAppraiserFirstName">First Name</label>
            <input type="text" class="form-control" id="inputAppraiserFirstName" name="inputAppraiserFirstName" placeholder="Caitlin" required/>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="inputAppraiserLastName">Last Name</label>
            <input type="text" class="form-control" id="inputAppraiserLastName" name="inputAppraiserLastName" placeholder="Erlend" required/>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="inputAppraiserEmail">Email Address</label>
            <input type="email" class="form-control" id="inputAppraiserEmail" name="inputAppraiserEmail" placeholder="" required value="{{default_email}}" />
            <div class="help-block with-errors"></div>
          </div>
        </div>

        <p>
          <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseAdvancedAppraiser" aria-expanded="false" aria-controls="collapseAdvancedAppraiser">
            <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="true"></i> Advanced
          </span>
        </p>
        <div class="collapse" id="collapseAdvancedAppraiser">

          <div class="form-group">
            <label for="input">Signing Location</label>
            <select class="form-control" name="inputSigningLocationAppraiser">
              {{#each signing_location_options}}
                <option value="{{this}}" {{#ifCond this "==" ../config.signing_location}}selected{{/ifCond}}>
                  {{this}}
                </option>
              {{/each}}
            </select>

            <span class="help-block">
              Embed the signing experience, or send an email (remote)
            </span>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="access_codeAppraiser">Access Code</label>
            <input type="text" class="form-control" id="access_codeAppraiser" name="inputAccessCodeAppraiser" placeholder="" value="{{config.access_code}}" />
            <span class="help-block">
              Set an Access Code for this customer to enter before signing documents
            </span>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="authenticationAppraiser">Additional Authentication</label>
            <select class="form-control" name="inputAuthenticationAppraiser" disabled>
              {{#each authentication_options}}
                <option value="{{this}}" {{#ifCond this "==" ../config.authentication}}selected{{/ifCond}}>
                  {{this}}
                </option>
              {{/each}}
            </select>
            <span class="help-block">
              Enable Phone Authentication to receive a verification phone call before signing documents (<a href="https://support.docusign.com/guides/ndse-user-guide-how-phone-authentication-works" target="_blank">Learn More</a>)
              <br />
              * This can be enabled when using your own account
            </span>
          </div>
        </div>




        <hr />

        <div class="row">
          <div class="col-sm-12 text-left">
            <p><b>Note:</b> You must enable <a target="_blank" href="https://support.docusign.com/en/guides/ndse-user-guide-document-visibility">Document Visibility</a> for this account.</p>
          </div>
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary has-spinner">
              Start Sailboat Loan Application
              <span class="spinner"><i class="fa fa-spinner fa-spin icon-spin"></i></span>
            </button>
          </div>

        </div>


      </form>

    </div>

    <div class="col-sm-6">

      <h2 class="text-center" style="opacity:0;">
        Personal Loan Application
      </h2>

      <hr />


      <p class="text-right2">
        <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseHow" aria-expanded="false" aria-controls="collapseHow">
          <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="true"></i> See behind the scenes
        </span>
      </p>
      <div class="collapse" id="collapseHow">

        <hr />

        <h4>
          This Sample Features:
        </h4>
        <ul>
          <li>Sign + Inital Tabs</li>
          <li>Custom Branding</li>
          <li>User Upload Optional Attachment</li>
          <li>Routing Order</li>
          <li>Image/PNG Document</li>
          <li>Complex Document Visibility</li>
        </ul>

        <br />


        <h4>
          Code Flow:
        </h4>

        <h5>
          Step 1
        </h5>

        <p>
          When the form is submitted we use the <a href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeViews/createRecipient" target="_blank">Envelopes: create</a> API to send the signature request with the corresponding form information. We add <code>Documents</code> to sign and use a <code>signerAttachmentTab</code> to allow an optional image file to be added to the envelope. You can optionally add additional factors of authentication, such as <code>AccessCode</code>, Phone, or ID Check, and you can sign using embedded signing or remote signing.
        </p>

        <p>
          This workflow uses the <code>brandId</code> property to apply a custom branding profile to the signing experience. It also contains multiple documents and demonstrates the Document Visibility feature. In this case Document Visibility is used to prevent the Applicant from seeing the Appraiser document until the envelope has completed.
        </p>

        <p>
          The rules governing Document Visibility are as follows:
          <ul>
            <li>
              You can only show documents to a recipient if they have a tab on the document or nobody has a tab on the document
            </li>
            <li>
              You can hide a document from a recipient if they don’t have a tab on it, regardless of the other signers. The system auto hides if others have a tab on a document. It will not auto hide a document that has NO tabs.
            </li>
          </ul>

          In order to have our Applicant document visible to our Appraiser, we add a blank/invisible <code>Text</code> Tab with the following values:

        </p>

        <p>
<pre>

  recipientId: '2',
  documentId: '1',
  pageNumber: '1',
  xPosition: '0',
  yPosition: '0',
  value: '',
  locked: 'true'

</pre>

        </p>

<p>
  Of the other Tabs, of special note is the "optional" attribute added to the SignerAttachment Tab:
</p>
<pre>
  "signerAttachmentTabs": [
    {
      <strong>"optional": "true",</strong>
      "documentId": "1",
      "recipientId": "1",
      "pageNumber": "1",
      "anchorString": "Picture of Boat",
      "anchorXOffset": "0",
      "anchorYOffset": "40"
    }
</pre>
        <p>
          We are using <a href="https://developers.docusign.com/esign-rest-api/guides/features/tabs#tab-locations-and-positioning" target="_blank">Auto-Place</a> to position our Tabs (notice the <code>anchorString</code>, <code>anchorXOffset</code>, and <code>anchorYOffset</code> strings.

          <br />

          <strong>Note: </strong> if you receive an error message when running this yourself, please view the <a href="https://github.com/docusign/sample-app-loanco-nodejs/blob/master/README.md" target="_blank">README</a> for settings your account may be missing.

        </p>

        <p>
          To create and send the envelope we send an http POST request to:

<pre>
POST /v2.1/accounts/{accountId}/envelopes
</pre>
        </p>

        <p style="padding:20px 0;">
          <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseJSON" aria-expanded="false" aria-controls="collapseJSON">
            <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="true"></i> Click to view example request JSON
          </span>
        </p>
        <div class="collapse" id="collapseJSON">
<pre>
{
  "status": "sent",
  "emailSubject": "Sailboat Loan Application",
  "emailBlurb": "Please sign the Loan application to start the application process.",
  "enforceSignerVisibility": "true",
  "brandId": "f157069c-3828-4073-a298-0bf5749b27bb",
  "documents": [
    {
      "documentId": "1",
      "name": "Application",
      "fileExtension": "docx",
      "documentBase64": "-- Base64-encoding document bytes are here --"
    },
    {
      "documentId": "2",
      "name": "Map",
      "fileExtension": "png",
      "documentBase64": "-- Base64-encoding document bytes are here --"
    },
    {
      "documentId": "3",
      "name": "Appraiser",
      "fileExtension": "docx",
      "documentBase64": "-- Base64-encoding document bytes are here --"
    }
  ],
  "recipients": {
    "signers": [
      {
        "tabs": {
          "signHereTabs": [
            {
              "documentId": "1",
              "recipientId": "1",
              "pageNumber": "1",
              "anchorString": "X:",
              "anchorXOffset": "100",
              "anchorYOffset": "-2"
            }
          ],
          "initialHereTabs": [
            {
              "documentId": "1",
              "recipientId": "1",
              "pageNumber": "1",
              "anchorString": "X (initial):",
              "anchorXOffset": "100",
              "anchorYOffset": "-2"
            }
          ],
          "signerAttachmentTabs": [
            {
              "optional": "true",
              "documentId": "1",
              "recipientId": "1",
              "pageNumber": "1",
              "anchorString": "Picture of Boat",
              "anchorXOffset": "0",
              "anchorYOffset": "40"
            }
          ],
          "fullNameTabs": [
            {
              "documentId": "1",
              "recipientId": "1",
              "pageNumber": "1",
              "anchorString": "Full Name:",
              "anchorXOffset": "100",
              "anchorYOffset": "-2"
            }
          ],
          "emailTabs": [
            {
              "name": "Email",
              "value": "-- RECIPIENT EMAIL HERE --",
              "tabLabel": "Email",
              "documentId": "1",
              "recipientId": "1",
              "pageNumber": "1",
              "anchorString": "E-mail:",
              "anchorXOffset": "100",
              "anchorYOffset": "-2"
            }
          ]
        },
        "excludedDocuments": [
          "2"
        ],
        "name": "-- RECIPIENT NAME HERE --",
        "email": "-- RECIPIENT EMAIL HERE --",
        "recipientId": "1",
        "clientUserId": "1001"
      },
      {
        "tabs": {
          "signHereTabs": [
            {
              "documentId": "3",
              "recipientId": "2",
              "pageNumber": "1",
              "anchorString": "Appraiser Signature:",
              "anchorXOffset": "100",
              "anchorYOffset": "-2"
            }
          ],
          "fullNameTabs": [
            {
              "documentId": "3",
              "recipientId": "2",
              "pageNumber": "1",
              "anchorString": "Appraiser Name:",
              "anchorXOffset": "100",
              "anchorYOffset": "-2"
            }
          ],
          "emailTabs": [
            {
              "name": "Email",
              "value": "-- APPRAISER EMAIL HERE --",
              "tabLabel": "Email",
              "documentId": "3",
              "recipientId": "2",
              "pageNumber": "1",
              "anchorString": "E-mail:",
              "anchorXOffset": "100",
              "anchorYOffset": "-2"
            }
          ]
        },
        "name": "Caitlin Erlend",
        "email": "-- APPRAISER NAME HERE --",
        "recipientId": "2"
      }
    ]
  }
}
</pre>
        </div>

        <h5>
          Step 2
        </h5>

        <p>
          If Embedded Signing was selected we next use the <a href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/create" target="_blank">EnvelopeViews: createRecipient</a> API to generate a signing URL for the recipient. For this to work the <code>clientUserId</code> property must be set on the recipient when the envelope was sent during step 1.
        </p>

        <p>
          Once the envelope is sent we save the envelope ID and Recipient information to our session then redirect to the <tt>/sign/embedded</tt> page. There we retrieve the envelope ID and recipient info from our session and create the recipient view by generating the URL and displaying in a full-width and full-height iframe.
        </p>

        <p>
          To create the recipient view of the envelope we send an http POST request to:

<pre>
POST /v2.1/accounts/{accountId}/envelopes/{envelopeId}/views/recipient
</pre>
        </p>
        <p style="padding:20px 0;">
          <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseJSON2" aria-expanded="false" aria-controls="collapseJSON2">
            <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="true"></i> Click to view example request JSON (the <code>ReturnUrl</code> information)
          </span>
        </p>
        <div class="collapse" id="collapseJSON2">
<pre>
{
  "clientUserId": "1001",
  "userId": null,
  "userName": "-- RECIPIENT NAME HERE --",
  "email": "-- RECIPIENT EMAIL HERE --",
  "recipientId": "1",
  "returnUrl": "-- RETURN URL HERE --",
  "pingUrl": null,
  "pingFrequency": null,
  "authenticationMethod": "email",
  "assertionId": null,
  "authenticationInstant": null,
  "securityDomain": null
}
</pre>
        </div>

      </div>

    </div>

  </div>

  <hr>

  {{> footer}}

</div>